* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #49494b;
  margin-right: 1rem;
}

a:hover {
  color: #4646f5;
}

ul, ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  background-color: #4646f5;
  color: #fff;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: orangered;
}

.card {
  border: 1px solid #c2bfbf;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-width: 5rem;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 12px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.wrapper {
  min-width: 320px;
  margin: auto;
  padding: 1rem 5%;
}
@media (min-width: 640px) {
  .wrapper {
    min-width: 640px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    padding: 1rem 10%;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    min-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    min-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .wrapper {
    min-width: 1536px;
  }
}

.nav {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  white-space: nowrap;
}
.nav__links {
  display: none;
}
@media (min-width: 768px) {
  .nav__links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
  }
  .nav__links a {
    font-size: 14px;
    color: #333;
    position: relative;
  }
  .nav__links a::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    border-bottom: 2px solid orangered;
    transform-origin: 0 50%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }
  .nav__links a:hover::after {
    transform: scale(1);
  }
  .nav__links a:hover {
    color: orangered;
  }
}
@media (min-width: 1280px) {
  .nav__links {
    justify-content: center;
    gap: 2vw;
    width: 100%;
  }
  .nav__links .account {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__links .account::after {
    content: "";
    width: 1px;
    height: 80%;
    background-color: #555;
    position: absolute;
    top: 0;
    right: -1rem;
    transform: translateY(25%);
  }
  .nav__links .about {
    margin-left: 4vw;
  }
}

.humberger__btn {
  border: 0;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1rem;
}
.humberger__btn:hover {
  background-color: #eb7e56;
  color: #fff;
}
@media (min-width: 768px) {
  .humberger {
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7rem;
  }
}
.hero__links {
  margin-bottom: 1rem;
}
.hero__container {
  text-align: center;
}
@media (min-width: 1024px) {
  .hero__container {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .hero__container h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__container h1 {
    font-size: 3.5rem;
  }
}
.hero__container > * {
  display: none;
  flex-direction: column;
  line-height: 1.5;
  gap: 1rem;
}
.hero__container .btn {
  margin-right: 1rem;
  display: block;
  margin: 1rem 0;
}
@media (min-width: 1024px) {
  .hero__container .btn {
    padding: 0.5vw 1vw;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 1vw;
  }
}
.hero__container > .active {
  display: flex;
  flex-direction: column;
}

.why-us {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .why-us {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.why-us__text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.why-us__text p {
  line-height: 1.7;
  font-size: 0.89rem;
  text-align: justify;
}
.why-us__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.why-us__services {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .why-us__services {
    grid-column: 1/span 2;
    flex-direction: row;
  }
}
.why-us__services h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .why-us__services h3 {
    font-size: 1.2rem;
  }
}
.why-us__services p {
  line-height: 1.7;
  text-align: center;
}

.pricing {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4rem;
}
.pricing__text {
  line-height: 1.6;
  margin-bottom: 2rem;
}
.pricing__text h2 {
  margin-bottom: 1rem;
}
.pricing__text p {
  font-style: italic;
  margin-bottom: 1rem;
}
.pricing__text .plan-show {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-style: normal;
}
.pricing__text .plan-show p {
  margin: 0;
}
.pricing__text .toggle-btn {
  height: 1.8rem;
  width: 3.6rem;
  background-color: red;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.pricing__text .toggle-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.pricing__text .toggle-btn input:checked + .slider {
  transform: translate(100%, -50%);
}
.pricing__text .toggle-btn .slider {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.pricing__text .discount {
  font-size: 0.7rem;
  background-color: yellow;
  border-radius: 5px;
  padding: 0.15rem 0.5rem;
}
.pricing__content {
  display: flex;
  flex-direction: column;
}
.pricing .links {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .pricing .links {
    width: 50%;
  }
}
.pricing .links .link {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 2px solid #666;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing .links .link:hover {
  color: red;
}
.pricing .links .link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  transform-origin: 0 50%;
  border-bottom: 2px solid red;
  transform: scale(0);
  transition: all 0.3s ease-out;
}
.pricing .links .link:hover::after {
  transform: scale(1);
  transform: scaleY(1);
}
.pricing .cards {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .pricing .cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    margin: auto;
  }
}
.pricing .card {
  border: 1px solid #c2bfbf;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-width: 5rem;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 12px;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .pricing .card {
    min-width: 12rem;
  }
}
.pricing .card h4 {
  font-size: 1.3rem;
}
.pricing .card strong {
  font-size: 1.8rem;
  display: flex;
}
.pricing .card strong + span {
  margin-top: -1rem;
}
.pricing .card button {
  display: block;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  border: 1px solid #666;
  cursor: pointer;
  margin: 1rem 0;
}
.pricing .card button:hover {
  background-color: orangered;
  color: #fff;
}
.pricing .card li {
  position: relative;
  padding-left: 2rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.pricing .card li::before {
  position: absolute;
  content: "";
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../images/Checkmark.png");
}

.stories img {
  max-width: 120px;
}
.stories__first {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: auto;
}
@media (min-width: 768px) {
  .stories__first {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
.stories-item {
  min-width: 15rem;
}

/*# sourceMappingURL=style.css.map */
